@import url("hover-min.css");
@import url("font-awesome.min.css");
@font-face {
  font-family: 'helvetica';
  src: url("/fonts/helveticaneuecyr-light-webfont.eot");
  src: url("/fonts/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/helveticaneuecyr-light-webfont.woff2") format("woff2"), url("/fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("/fonts/helveticaneuecyr-light-webfont.ttf") format("truetype"), url("/fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helvetica';
  src: url("/fonts/helveticaneuecyr-bold-webfont.eot");
  src: url("/fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("/fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("/fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("/fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg");
  font-weight: bold;
  font-style: normal; }

/* line 52, C:/Users/stas/Desktop/adflare/css/app.scss */
[class*='cl-'] {
  float: left;
  padding: 1em;
  width: 100%;
  height: 100%; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-1 {
  width: 8.33333%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-1 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-2 {
  width: 16.66667%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-2 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-3 {
  width: 25%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-3 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-4 {
  width: 33.33333%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-4 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-5 {
  width: 41.66667%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-5 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-6 {
  width: 50%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-6 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-7 {
  width: 58.33333%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-7 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-8 {
  width: 66.66667%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-8 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-9 {
  width: 75%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-9 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-10 {
  width: 83.33333%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-10 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-11 {
  width: 91.66667%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-11 img {
    max-width: 100%;
    height: auto; }

/* line 58, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-12 {
  width: 100%;
  height: 100%; }
  /* line 63, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-12 img {
    max-width: 100%;
    height: auto; }

/* line 73, C:/Users/stas/Desktop/adflare/css/app.scss */
.wrapper {
  width: 100%;
  height: 100%; }
  /* line 76, C:/Users/stas/Desktop/adflare/css/app.scss */
  .wrapper div {
    display: inline-block;
    height: 100%; }

/* line 81, C:/Users/stas/Desktop/adflare/css/app.scss */
.complex {
  background-color: #3B3538; }
  /* line 83, C:/Users/stas/Desktop/adflare/css/app.scss */
  .complex div .cl-3 {
    background-color: #3B3538; }

/* line 87, C:/Users/stas/Desktop/adflare/css/app.scss */
.section {
  display: block; }

/* line 91, C:/Users/stas/Desktop/adflare/css/app.scss */
.br-p {
  border-right: thin solid #aa943c; }

/* line 94, C:/Users/stas/Desktop/adflare/css/app.scss */
.br-s {
  border-right: thin solid #19eb99; }

/* line 97, C:/Users/stas/Desktop/adflare/css/app.scss */
.bl-p {
  border-left: thin solid #aa943c; }

/* line 100, C:/Users/stas/Desktop/adflare/css/app.scss */
.bl-s {
  border-left: thin solid #19eb99; }

/* line 103, C:/Users/stas/Desktop/adflare/css/app.scss */
[data-x="bp"] {
  color: #aa943c; }

/* line 106, C:/Users/stas/Desktop/adflare/css/app.scss */
[data-x="bs"] {
  color: #19eb99; }

/* line 109, C:/Users/stas/Desktop/adflare/css/app.scss */
.tc {
  text-align: center;
  /*margin: auto;*/ }

/* line 113, C:/Users/stas/Desktop/adflare/css/app.scss */
* {
  box-sizing: border-box; }

/* line 116, C:/Users/stas/Desktop/adflare/css/app.scss */
html {
  height: 100%; }

/* line 119, C:/Users/stas/Desktop/adflare/css/app.scss */
body {
  /*position: absolute;*/
  height: 100% !important;
  width: 100% !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  font-family: 'helvetica';
  font-size: 1.0vmax; }

/* line 128, C:/Users/stas/Desktop/adflare/css/app.scss */
.logo {
  left: 0;
  top: 0;
  max-width: 128px;
  height: auto;
  display: inline; }

/* line 135, C:/Users/stas/Desktop/adflare/css/app.scss */
.fpg {
  background: url("/img/mbg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #242323; }

/* line 148, C:/Users/stas/Desktop/adflare/css/app.scss */
.xwrapper {
  position: absolute;
  width: 100%;
  max-height: 25%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  font-size: 1.0vmax; }
  /* line 155, C:/Users/stas/Desktop/adflare/css/app.scss */
  .xwrapper .cl-3 {
    height: 100%; }
  /* line 158, C:/Users/stas/Desktop/adflare/css/app.scss */
  .xwrapper h3 {
    padding-top: 0;
    margin-top: 0;
    text-transform: uppercase; }
  /* line 163, C:/Users/stas/Desktop/adflare/css/app.scss */
  .xwrapper .bx {
    border-right: 1px solid #aa943c;
    height: 100%; }
  /* line 167, C:/Users/stas/Desktop/adflare/css/app.scss */
  .xwrapper ul {
    list-style-type: square;
    color: #aa943c; }

/* line 172, C:/Users/stas/Desktop/adflare/css/app.scss */
.micon {
  fill: #aa943c;
  width: 30px;
  height: 30px; }

/* line 177, C:/Users/stas/Desktop/adflare/css/app.scss */
.gs {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: #aa943c;
  text-align: center;
  bottom: 0; }
  /* line 182, C:/Users/stas/Desktop/adflare/css/app.scss */
  .gs a {
    text-decoration: none;
    font-size: xx-large;
    color: #19eb99;
    line-height: 0; }
  /* line 188, C:/Users/stas/Desktop/adflare/css/app.scss */
  .gs a:hover {
    color: #19eb99; }

/* line 192, C:/Users/stas/Desktop/adflare/css/app.scss */
.tr {
  text-align: right; }

/* line 195, C:/Users/stas/Desktop/adflare/css/app.scss */
nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  height: 10%;
  width: 100%; }
  /* line 202, C:/Users/stas/Desktop/adflare/css/app.scss */
  nav .dvd {
    font-size: x-large;
    color: #aa943c;
    padding-right: 1em; }
  /* line 207, C:/Users/stas/Desktop/adflare/css/app.scss */
  nav .rt {
    float: right;
    margin-top: 1em; }
  /* line 211, C:/Users/stas/Desktop/adflare/css/app.scss */
  nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0; }
    /* line 217, C:/Users/stas/Desktop/adflare/css/app.scss */
    nav ul li {
      display: inline;
      padding-right: 1em; }
      /* line 220, C:/Users/stas/Desktop/adflare/css/app.scss */
      nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #aa943c;
        font-size: x-large; }
      /* line 226, C:/Users/stas/Desktop/adflare/css/app.scss */
      nav ul li a:hover {
        color: #19eb99; }

/* line 232, C:/Users/stas/Desktop/adflare/css/app.scss */
h1 {
  font-size: 2.0vw; }

/* line 235, C:/Users/stas/Desktop/adflare/css/app.scss */
h2 {
  font-size: 2.0vw; }

/* line 238, C:/Users/stas/Desktop/adflare/css/app.scss */
h3 {
  font-size: 1.5vmax; }

/* line 241, C:/Users/stas/Desktop/adflare/css/app.scss */
p {
  font-size: 1.0vmax; }

/* line 244, C:/Users/stas/Desktop/adflare/css/app.scss */
.btn-main {
  text-decoration: none;
  text-transform: uppercase;
  color: #aa943c;
  padding: 10px;
  font-size: x-large;
  border: 2px solid #aa943c; }

/* line 252, C:/Users/stas/Desktop/adflare/css/app.scss */
.btn-main:hover {
  border: 2px solid #19eb99;
  color: #19eb99; }

/* line 256, C:/Users/stas/Desktop/adflare/css/app.scss */
.xc {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

/*   LANDINGS    */
/* line 260, C:/Users/stas/Desktop/adflare/css/app.scss */
hr.lr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); }

/* line 265, C:/Users/stas/Desktop/adflare/css/app.scss */
.l-r-header {
  background: linear-gradient(rgba(114, 97, 209, 0.94), rgba(114, 97, 209, 0.94)), url("/img/online-advert.png");
  background-size: cover, cover;
  background-repeat: no-repeat;
  height: 63%;
  width: 100%;
  color: white;
  text-align: center; }
  /* line 273, C:/Users/stas/Desktop/adflare/css/app.scss */
  .l-r-header .spt {
    font-size: 1.6vmax; }
  /* line 274, C:/Users/stas/Desktop/adflare/css/app.scss */
  .l-r-header .l-r-logo {
    /*@include centerer(true, false);*/
    max-width: 72px;
    height: auto; }

/* line 280, C:/Users/stas/Desktop/adflare/css/app.scss */
.l-r-block {
  width: 100%;
  height: 40%; }

/* line 284, C:/Users/stas/Desktop/adflare/css/app.scss */
.l-r-hblock {
  background: linear-gradient(rgba(114, 97, 209, 0.94), rgba(114, 97, 209, 0.94)), url("/img/complex.png");
  background-size: cover, cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 35%;
  color: white; }

/* line 290, C:/Users/stas/Desktop/adflare/css/app.scss */
.l-r-footer {
  width: 100%;
  height: 5%; }
  /* line 293, C:/Users/stas/Desktop/adflare/css/app.scss */
  .l-r-footer .l-r-logo-s {
    display: inline;
    max-height: 28px;
    width: auto; }
  /* line 298, C:/Users/stas/Desktop/adflare/css/app.scss */
  .l-r-footer .lr-logolink {
    text-decoration: none;
    color: #7261D1;
    font-weight: bold;
    font-size: xx-large; }
  /* line 304, C:/Users/stas/Desktop/adflare/css/app.scss */
  .l-r-footer .lr-finfo {
    float: right;
    color: rgba(114, 97, 209, 0.9);
    vertical-align: middle;
    line-height: 5%; }

/* line 311, C:/Users/stas/Desktop/adflare/css/app.scss */
.lr-form {
  height: 50%;
  width: 100%;
  font-size: 1.0vmax;
  text-align: left;
  white-space: nowrap; }
  /* line 317, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-form .lr-form-cl {
    display: inline-table;
    margin: 0;
    width: 50%;
    height: 99%;
    border-right: 1px;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)) 1 100%; }
    /* line 318, C:/Users/stas/Desktop/adflare/css/app.scss */
    .lr-form .lr-form-cl p {
      font-size: 1.2vmax; }
  /* line 330, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-form .lr-form-cr {
    display: inline-table;
    margin: 0;
    width: 50%;
    height: 99%;
    clear: both; }
    /* line 336, C:/Users/stas/Desktop/adflare/css/app.scss */
    .lr-form .lr-form-cr p {
      font-size: 1.2vmax; }
    /* line 339, C:/Users/stas/Desktop/adflare/css/app.scss */
    .lr-form .lr-form-cr lr-gl {
      text-align: center; }
    /* line 342, C:/Users/stas/Desktop/adflare/css/app.scss */
    .lr-form .lr-form-cr img {
      display: inline;
      max-width: 15%;
      height: auto;
      margin-left: 4%;
      margin-right: 4%;
      overflow: hidden; }

/* line 352, C:/Users/stas/Desktop/adflare/css/app.scss */
.lr-order {
  width: 100%;
  clear: both; }
  /* line 355, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-order p {
    margin: 0; }
  /* line 358, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-order input {
    width: 95%;
    margin: auto;
    margin-bottom: 1em;
    padding: 5px 10px;
    display: block;
    background-image: none;
    background: none;
    border: 1px solid white;
    color: white; }
  /* line 369, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-order .lr-btn-form {
    float: right;
    text-decoration: none;
    color: #19eb99;
    border: 1px solid #19eb99;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1em; }
  /* line 379, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-order .lr-btn-form:hover {
    color: white; }

/* line 383, C:/Users/stas/Desktop/adflare/css/app.scss */
.hvr-bounce-to-bottom:before {
  background: #19eb99;
  color: white; }

/*# sourceMappingURL=app.css.map */
