@import url("hover-min.css");
@import url("font-awesome.min.css");
@font-face {
  font-family: 'helvetica';
  src: url("/fonts/helveticaneuecyr-light-webfont.eot");
  src: url("/fonts/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/helveticaneuecyr-light-webfont.woff2") format("woff2"), url("/fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("/fonts/helveticaneuecyr-light-webfont.ttf") format("truetype"), url("/fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helvetica';
  src: url("/fonts/helveticaneuecyr-bold-webfont.eot");
  src: url("/fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("/fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("/fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("/fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg");
  font-weight: bold;
  font-style: normal; }

/* line 53, C:/Users/stas/Desktop/adflare/css/app.scss */
[class*='cl-'] {
  float: left;
  padding: 1em;
  width: 100%;
  height: 100%; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-1 {
  width: 8.33333%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-1 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-2 {
  width: 16.66667%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-2 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-3 {
  width: 25%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-3 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-4 {
  width: 33.33333%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-4 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-5 {
  width: 41.66667%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-5 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-6 {
  width: 50%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-6 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-7 {
  width: 58.33333%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-7 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-8 {
  width: 66.66667%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-8 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-9 {
  width: 75%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-9 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-10 {
  width: 83.33333%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-10 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-11 {
  width: 91.66667%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-11 img {
    max-width: 100%;
    height: auto; }

/* line 59, C:/Users/stas/Desktop/adflare/css/app.scss */
.cl-12 {
  width: 100%;
  height: 100%; }
  /* line 64, C:/Users/stas/Desktop/adflare/css/app.scss */
  .cl-12 img {
    max-width: 100%;
    height: auto; }

/* line 74, C:/Users/stas/Desktop/adflare/css/app.scss */
.wrapper {
  width: 100%;
  height: 100%; }
  /* line 77, C:/Users/stas/Desktop/adflare/css/app.scss */
  .wrapper div {
    display: inline-block;
    height: 100%; }

/* line 82, C:/Users/stas/Desktop/adflare/css/app.scss */
.complex {
  background-color: #3B3538; }
  /* line 84, C:/Users/stas/Desktop/adflare/css/app.scss */
  .complex div .cl-3 {
    background-color: #3B3538; }

/* line 88, C:/Users/stas/Desktop/adflare/css/app.scss */
.section {
  display: block; }

/* line 92, C:/Users/stas/Desktop/adflare/css/app.scss */
.br-p {
  border-right: thin solid #37a5dd; }

/* line 95, C:/Users/stas/Desktop/adflare/css/app.scss */
.br-s {
  border-right: thin solid #aa943c; }

/* line 98, C:/Users/stas/Desktop/adflare/css/app.scss */
.bl-p {
  border-left: thin solid #37a5dd; }

/* line 101, C:/Users/stas/Desktop/adflare/css/app.scss */
.bl-s {
  border-left: thin solid #aa943c; }

/* line 104, C:/Users/stas/Desktop/adflare/css/app.scss */
[data-x="bp"] {
  color: #37a5dd; }

/* line 107, C:/Users/stas/Desktop/adflare/css/app.scss */
[data-x="bs"] {
  color: #aa943c; }

/* line 110, C:/Users/stas/Desktop/adflare/css/app.scss */
.tc {
  text-align: center;
  /*margin: auto;*/ }

/* line 114, C:/Users/stas/Desktop/adflare/css/app.scss */
* {
  box-sizing: border-box; }

/* line 117, C:/Users/stas/Desktop/adflare/css/app.scss */
html {
  height: 100%; }

/* line 120, C:/Users/stas/Desktop/adflare/css/app.scss */
body {
  /*position: absolute;*/
  height: 100% !important;
  width: 100% !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  font-family: 'helvetica';
  font-size: 1.0vmax; }

/* line 129, C:/Users/stas/Desktop/adflare/css/app.scss */
.logo {
  left: 0;
  top: 0;
  max-width: 128px;
  height: auto;
  display: inline; }

/* line 136, C:/Users/stas/Desktop/adflare/css/app.scss */
.fpg {
  background: url("/img/MBG2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #14242c; }

/* line 149, C:/Users/stas/Desktop/adflare/css/app.scss */
.xwrapper {
  position: absolute;
  width: 100%;
  max-height: 25%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.0vmax; }
  /* line 156, C:/Users/stas/Desktop/adflare/css/app.scss */
  .xwrapper .cl-3 {
    height: 100%; }
  /* line 159, C:/Users/stas/Desktop/adflare/css/app.scss */
  .xwrapper h3 {
    padding-top: 0;
    margin-top: 0;
    text-transform: uppercase; }
  /* line 164, C:/Users/stas/Desktop/adflare/css/app.scss */
  .xwrapper .bx {
    border-right: 1px solid #37a5dd;
    height: 100%; }
  /* line 168, C:/Users/stas/Desktop/adflare/css/app.scss */
  .xwrapper ul {
    list-style-type: square;
    color: #37a5dd; }
  /* line 172, C:/Users/stas/Desktop/adflare/css/app.scss */
  .xwrapper .lk {
    text-decoration: none;
    color: #37a5dd; }
    /* line 175, C:/Users/stas/Desktop/adflare/css/app.scss */
    .xwrapper .lk :hover {
      color: #aa943c; }

/* line 180, C:/Users/stas/Desktop/adflare/css/app.scss */
.micon {
  fill: #37a5dd;
  width: 30px;
  height: 30px; }

/* line 185, C:/Users/stas/Desktop/adflare/css/app.scss */
.gs {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: #37a5dd;
  text-align: center;
  bottom: 0; }
  /* line 190, C:/Users/stas/Desktop/adflare/css/app.scss */
  .gs a {
    text-decoration: none;
    font-size: xx-large;
    color: #aa943c;
    line-height: 0; }
  /* line 196, C:/Users/stas/Desktop/adflare/css/app.scss */
  .gs a:hover {
    color: #aa943c; }

/* line 200, C:/Users/stas/Desktop/adflare/css/app.scss */
.tr {
  text-align: right; }

/* line 203, C:/Users/stas/Desktop/adflare/css/app.scss */
nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  height: 10%;
  width: 100%; }
  /* line 210, C:/Users/stas/Desktop/adflare/css/app.scss */
  nav .dvd {
    font-size: x-large;
    color: #37a5dd;
    padding-right: 1em; }
  /* line 215, C:/Users/stas/Desktop/adflare/css/app.scss */
  nav .rt {
    float: right;
    margin-top: 1em; }
  /* line 219, C:/Users/stas/Desktop/adflare/css/app.scss */
  nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0; }
    /* line 225, C:/Users/stas/Desktop/adflare/css/app.scss */
    nav ul li {
      display: inline;
      padding-right: 1em; }
      /* line 228, C:/Users/stas/Desktop/adflare/css/app.scss */
      nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #37a5dd;
        font-size: x-large; }
      /* line 234, C:/Users/stas/Desktop/adflare/css/app.scss */
      nav ul li a:hover {
        color: #aa943c; }

/* line 240, C:/Users/stas/Desktop/adflare/css/app.scss */
h1 {
  font-size: 2.0vw; }

/* line 243, C:/Users/stas/Desktop/adflare/css/app.scss */
h2 {
  font-size: 2.0vw; }

/* line 246, C:/Users/stas/Desktop/adflare/css/app.scss */
h3 {
  font-size: 1.5vmax; }

/* line 249, C:/Users/stas/Desktop/adflare/css/app.scss */
p {
  font-size: 1.0vmax; }

/* line 252, C:/Users/stas/Desktop/adflare/css/app.scss */
.btn-main {
  text-decoration: none;
  text-transform: uppercase;
  color: #37a5dd;
  padding: 10px;
  font-size: x-large;
  border: 2px solid #37a5dd; }

/* line 260, C:/Users/stas/Desktop/adflare/css/app.scss */
.btn-main:hover {
  border: 2px solid #aa943c;
  color: #aa943c; }

/* line 264, C:/Users/stas/Desktop/adflare/css/app.scss */
.xc {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

/*   LANDINGS    */
/* line 268, C:/Users/stas/Desktop/adflare/css/app.scss */
hr.lr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); }

/* line 273, C:/Users/stas/Desktop/adflare/css/app.scss */
.l-r-header {
  background: linear-gradient(rgba(114, 97, 209, 0.94), rgba(114, 97, 209, 0.94)), url("/img/online-advert.png");
  background-size: cover, cover;
  background-repeat: no-repeat;
  height: 63%;
  width: 100%;
  color: white;
  text-align: center; }
  /* line 281, C:/Users/stas/Desktop/adflare/css/app.scss */
  .l-r-header .spt {
    font-size: 1.6vmax; }
  /* line 282, C:/Users/stas/Desktop/adflare/css/app.scss */
  .l-r-header .l-r-logo {
    /*@include centerer(true, false);*/
    max-width: 72px;
    height: auto; }

/* line 288, C:/Users/stas/Desktop/adflare/css/app.scss */
.l-r-block {
  width: 100%;
  height: 40%; }

/* line 292, C:/Users/stas/Desktop/adflare/css/app.scss */
.l-r-hblock {
  background: linear-gradient(rgba(114, 97, 209, 0.94), rgba(114, 97, 209, 0.94)), url("/img/complex.png");
  background-size: cover, cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 35%;
  color: white; }

/* line 298, C:/Users/stas/Desktop/adflare/css/app.scss */
.l-r-footer {
  width: 100%;
  height: 5%; }
  /* line 301, C:/Users/stas/Desktop/adflare/css/app.scss */
  .l-r-footer .l-r-logo-s {
    display: inline;
    max-height: 28px;
    width: auto; }
  /* line 306, C:/Users/stas/Desktop/adflare/css/app.scss */
  .l-r-footer .lr-logolink {
    text-decoration: none;
    color: #7261D1;
    font-weight: bold;
    font-size: xx-large; }
  /* line 312, C:/Users/stas/Desktop/adflare/css/app.scss */
  .l-r-footer .lr-finfo {
    float: right;
    color: rgba(114, 97, 209, 0.9);
    vertical-align: middle;
    line-height: 5%; }

/* line 319, C:/Users/stas/Desktop/adflare/css/app.scss */
.lr-form {
  height: 50%;
  width: 100%;
  font-size: 1.0vmax;
  text-align: left;
  white-space: nowrap; }
  /* line 325, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-form .lr-form-cl {
    display: inline-table;
    margin: 0;
    width: 50%;
    height: 99%;
    border-right: 1px;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)) 1 100%; }
    /* line 326, C:/Users/stas/Desktop/adflare/css/app.scss */
    .lr-form .lr-form-cl p {
      font-size: 1.2vmax; }
  /* line 338, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-form .lr-form-cr {
    display: inline-table;
    margin: 0;
    width: 50%;
    height: 99%;
    clear: both; }
    /* line 344, C:/Users/stas/Desktop/adflare/css/app.scss */
    .lr-form .lr-form-cr p {
      font-size: 1.2vmax; }
    /* line 347, C:/Users/stas/Desktop/adflare/css/app.scss */
    .lr-form .lr-form-cr lr-gl {
      text-align: center; }
    /* line 350, C:/Users/stas/Desktop/adflare/css/app.scss */
    .lr-form .lr-form-cr img {
      display: inline;
      max-width: 15%;
      height: auto;
      margin-left: 4%;
      margin-right: 4%;
      overflow: hidden; }

/* line 360, C:/Users/stas/Desktop/adflare/css/app.scss */
.lr-order {
  width: 100%;
  clear: both; }
  /* line 363, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-order p {
    margin: 0; }
  /* line 366, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-order input {
    width: 95%;
    margin: auto;
    margin-bottom: 1em;
    padding: 5px 10px;
    display: block;
    background-image: none;
    background: none;
    border: 1px solid white;
    color: white; }
  /* line 377, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-order .lr-btn-form {
    float: right;
    text-decoration: none;
    color: #aa943c;
    border: 1px solid #aa943c;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1em; }
  /* line 387, C:/Users/stas/Desktop/adflare/css/app.scss */
  .lr-order .lr-btn-form:hover {
    color: white; }

/* line 391, C:/Users/stas/Desktop/adflare/css/app.scss */
.hvr-bounce-to-bottom:before {
  background: #aa943c;
  color: white; }

/*# sourceMappingURL=app.css.map */
